motio.nikog.net {
  redir /realms /realms/timeline/account 302
  redir /realms/ /realms/timeline/account 302

  handle /realms* {
    reverse_proxy host.docker.internal:8081
  }

  handle /resources* {
    route {
      encode zstd gzip
      reverse_proxy host.docker.internal:8081 {
        header_down -Cache-Control
        header_down Cache-Control "public, max-age=604800, immutable"
      }
    }
  }

  handle /admin* {
    reverse_proxy host.docker.internal:8081
  }

  handle /js* {
    reverse_proxy host.docker.internal:8081
  }

  handle /.well-known* {
    reverse_proxy host.docker.internal:8081
  }

  handle /health {
    reverse_proxy host.docker.internal:8080
  }

  handle /auth/v1* {
    reverse_proxy host.docker.internal:8080
  }

  handle /rest/v1* {
    reverse_proxy host.docker.internal:8080
  }

  handle /functions/v1* {
    reverse_proxy host.docker.internal:8080
  }

  handle /backup* {
    reverse_proxy host.docker.internal:8080
  }

  handle {
    reverse_proxy host.docker.internal:5173
  }
}

:80 {
  respond 404
}
